.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  background-color: white;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 2em;
}

.link-nav {
  list-style-type: none;
  background-color: black;
  text-decoration: none;
  padding: 1em;
  border-radius: 12px;
  color: white;
}

.active-link {
  background-color: #0191c8;
  color: white;
  border-radius: 5px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}
